/* Общие свойства */

html {
    font-family: 'Roboto', 'Tahoma', sans-serif;  
    font-size: 18px;
    color: #272d4e;
    line-height: auto;
    letter-spacing: 0%;
}

a {
    text-decoration: none;
    color: #272d4e;
}

li {
    list-style-type: none;
}


/* Начало header */

header .wrapper {
    display: flex;
    width: 1920px;
    background-color: #dae5f6;
   
}

header .logo {
    margin-right: 144px;
    margin-top: 20px;
    margin-left: 55px;
    left: 55px;
    top: 20px;

}

.main-menu {
    display: flex;
}



 .center-block li  {
   margin-right: 38px; 
}

 .right-block {
    flex-direction: row;
    position: absolute;
    right: 55px;
    top: 20px;

}


.user a {
    margin-right: 38px;

} 

.user .btn {
    background-color: #7854f7;
    padding: 13px 14px;
    border-radius: 5px;
    color: #ffffff;
    width: 120px;
    height: 47px;
}

/* Конец header */



/* Начало promo*/

.promo {
    position: relative;
    z-index: 2; 
    min-height: 620px;
    background-image: url(../img/img_exam/wave-promo.svg);
    background-position: 50% 50%;
}


.promo .wrapper {
    display: flex;
    flex-direction: row;
    background-color: #dae5f6;
    width: 1920px;
    height: 870px;
}

.promo-content {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    margin-left: 220px;;
}


.promo-content .title {
    font-family: 'Ubuntu', 'Tahoma', sans-serif;
    max-width: 820px;
    font-weight: bold;
    font-size: 85px;
    line-height: 95px;
    color: #272D4E;
    
}

.promo-content p {
    margin-top: 0px;
    line-height: 25px;
    margin-bottom: 60px;
    color: #94a2b3;
}

.buttons .btn-start {
    background-color: #7854f7;
    padding: 26px 63px 25px 62px;
    margin-top: 30px;
    border-radius: 60px;
    width: 260px;
    height: 72px;
    color: #ffffff;

}

.buttons .btn-custom {
    line-height: 25px;
    color: #94a2b3;
}

.buttons .btn-custom span {
    color: #299ef3;
}

.example-website {
    position: absolute;
    top: 24px;
    right: 5px;
}