/* Общие свойства */



a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* Начало header */

header .wrapper {
    display: flex;
    width: 1920px;
}

header .logo {
    margin-right: 144px;
    margin-top: 20px;
    margin-left: 55px;
    left: 55px;
    top: 20px;

}

.main-menu {
    display: flex;
}



 .center-block li  {
   margin-right: 38px; 
}

 .right-block {
    flex-direction: row;
    position: absolute;
    right: 55px;
    top: 20px;

}


.user a {
    margin-right: 38px;

} 
